@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-item {
        @apply text-white font-bold p-4 my-1 rounded-full 2xl:justify-start gap-4 hover:cursor-pointer
        hover:text-white hover:bg-white/10;
    }

    .sidebar-item.active {
        @apply bg-white/10;
    }

    .sidebar-item:hover svg[stroke="#E5E7EB"] {
        stroke: #fff;
    }

    .active-link {
        @apply pl-4 text-white font-extrabold hidden 2xl:block;
    }

    .not-active-link {
        @apply pl-4 text-gray-400 font-bold hidden 2xl:block;
    }

    .button-primary {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-3xl;
    }

    textarea {
        @apply w-full p-2 text-white overflow-hidden;
    }

    textarea {
        @apply bg-transparent border-none focus:outline-none focus:ring-0 resize-none;
    }

    label {
        @apply text-white;
    }

    input {
        @apply border border-white bg-transparent rounded-full px-4 py-2 w-full
    }

    .modal-gif {
        @apply overflow-y-auto max-h-[85vh] max-w-6xl;

    }
}

body {
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
}

.EmojiPickerReact, aside.EmojiPickerReact.epr-main {
    @apply bg-transparent border-none focus:outline-none focus:ring-0;
}

.EmojiPickerReact .epr-search-container input.epr-search {
    @apply bg-transparent focus:outline-none focus:ring-0;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    @apply text-white bg-black/20;
}
.EmojiPickerReact .epr-preview {
    @apply border-none;
}